.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: red;
}

.footer h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 92px;
  grid-column: 2;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 13px;
  grid-column: 2;
}
